<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Slide.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AA682FA675CA4475C7AF01FC7B4445F76CBE8E30</string>
				<key>dateExpires</key>
				<string>9/6/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4828UFK97Z.app.slidesocial.slide</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4828UFK97Z</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Slide.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e79c16bf-0f24-4111-8cf5-54808284408a</string>
				<key>dateExpires</key>
				<string>9/6/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: app.slidesocial.slide</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4828UFK97Z</string>
				<key>name</key>
				<string>SlideSocial Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
